@import url('https://fonts.googleapis.com/css2?family=Asta+Sans:wght@300..800&display=swap');

* {
    font-family: "Asta Sans", sans-serif;
}

body {
    color: #222;
    overflow-y: scroll;
    min-width: 1000px;
}

nav {
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    white-space: nowrap;
}

#myrock-logo {
    width: 150px;
    margin-right: 24px;
}

#menu {
    display: flex;
    gap: 24px;
}

#menu a, #log-in, #edit {
    color: #555;
    text-decoration: none;
    font-size: 11pt;
}

#menu a:hover, #log-in:hover, #edit:hover {
    color: #111;
}

#menu a.selected {
    color: #111;
    font-weight: 700;
}

#log-in {
    margin-left: auto;
}

#edit {
    margin-left: 10px;
}

#layout {
    display: flex;
    justify-content: center;
    gap: 40px;
}

#sidemenu {
    flex: 0 0 200px;
    height: 200px;
    border-right: 1px solid rgba(0,0,0,.08);
}

#sidemenu ul {
    list-style: none;
    line-height: 26pt;
}

#sidemenu a {
    color: #555;
    text-decoration: none;
}

#sidemenu a:hover {
    color: #111;
}

#content {
    flex: 0 0 1000px;
    padding: 0 30px;
}

#content h1, h2, h3 {
    margin: 42px 0 20px 0;
}

#content p {
    line-height: 20pt;
}